// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #e60ccb !default;
$header-bg-color-secondary: #1cb38f !default;

// Text
$section-headings-color: #a332e9 !default;
$body-text-color: #a49c90 !default;
$body-link-color: #65ace6 !default;
$blockquote-text-color: #a49c90 !default;

// Code
$code-bg-color: #1d1f20 !default;
$code-text-color: #a49c90 !default;

// Borders
$border-color: #233b52 !default;
$table-border-color: #363a3d !default;
$hr-border-color: #202325 !default;

// Background
$background-color: #181a1b !default;

// Scrollbar
